@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, button, input {
    box-sizing: border-box;
  }

  html {
    @apply flex;
    @apply w-full h-full;
    scroll-behavior: smooth;
  }

  body {
    @apply flex-1;
    /* @apply bg-gray-200; */
    @apply w-full h-full min-h-[100vh];

    font-weight: normal;
    /* font-size: calc(1rem / 16 * 12); */
    letter-spacing: 0em;

    overflow: overlay;
    scrollbar-width: none;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothign: grayscale;
  }

  a, button {
    @apply cursor-pointer;
  }
}